<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img src="assets/images/prop-1.jpg" alt="" class="card-img-top" />
      </div>

      <div class="card-body">
        <h1 class="card-title">{{ property.Name }}</h1>

        <div>
          <strong>
            {{ property.BHK }} BHK {{ property.PType }} @ ${{ property.Price }}
          </strong>
        </div>

        <div>
          <strong>in {{ property.City }}</strong>
        </div>

        <hr />

        <div>
          <strong>Build Area: </strong>
          {{ property.BuiltArea }} Sqft
        </div>

        <div>
          <strong>Carpet Area: </strong>
          {{ property.CarpetArea }} Sqft
        </div>

        <div>
          <strong>Furnishing Type: </strong>
          {{ property.FType }}
        </div>
      </div>

      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-8 p-0">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Overview"></tab>
        <tab heading="Address"></tab>
        <tab heading="Photos"></tab>
        <tab heading="Contact"></tab>
      </tabset>
    </div>
  </div>
</div>
